{:deps
 {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
  nrepl/nrepl {:mvn/version "0.8.3"}}
 :aliases
 {:humbleui
  {:extra-deps
   {io.github.humbleui.jwm/jwm {:mvn/version "0.2.6"}
    io.github.humbleui.skija/skija-macos-arm64 {:mvn/version "0.96.0"}
    io.github.humbleui/humbleui {:git/sha "b5bca9f9923196adebcca9be1ca43965ca7b461d"}}}}}