{:deps
 {org.clojure/clojure                      {:mvn/version "1.11.1"}
  org.clojure/data.priority-map            {:mvn/version "1.1.0"}
  org.clojure/math.combinatorics           {:mvn/version "0.1.6"}
  nrepl/nrepl                              {:mvn/version "1.0.0"}
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
  io.github.humbleui/humbleui              {:git/sha "71e47709ec7002b830a035f5f580dfadab41dfdf"}
  io.github.tonsky/remote-require          {:git/sha "c9027682287f48cd89450839b18e6c69758fc343"}}
 
 :jvm-opts
 ["-Djdk.attach.allowAttachSelf"
  "-XX:+UnlockDiagnosticVMOptions"
  "-XX:+DebugNonSafepoints"]}